/*

 =========================================================
 * Modal PPocket - v1.0.0

  Estilizacao da Pagina dos Modals
 =========================================================

 */

// Padrao Modal
.modal-ppocket { display: none; }
.modal-ppocket {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	overflow: auto;
	background: rgba($complem, .8);
		@include box-shadow(0,0,2px,$white-bg);

	.modal-wrapper {
		width: 50%;
		min-height: 175px;
		background:$white-bg;
		@include center('horizontal');
		-webkit-transform: translateX(-50%, 8%);
	    -ms-transform: translateX(-50%, 8%);
	    transform: translate(-50%, 8%);
		border-radius: 20px;
		margin-bottom: 40px;
		.modal-header {
			width: 100%;
			border: none;
			padding: 0 15px;
			h2 {
				margin-top: 10px;
			}
		} // Modal Header
		.modal-body {
			background: $white-bg;
		    height: auto;
		    max-height: 80vh;
		    overflow: auto;
		} // Modal Body
		.modal-footer {
			border: none;
			border-top: 4px solid #222;
			padding: 15px;
		}
		.modal-close {
			padding-top: 30px;
			font-size: 2em;
		} // Modal Close
	} // Modal Wrapper
} // Modal PPocket



.pp-form{
	color: $fonte-1;
	margin-top: 10px;
	label {
		width: 100%;
		padding-top: 10px;
	} // pp Form Label

} // PP Form